<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>KARAS RECRUIT : Contact Us</title>
        <link rel="stylesheet" type="text/css" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" href="css/base.css" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css" />
        <link rel="stylesheet" type="text/css" href="css/chosen.css" />
        <link rel="stylesheet" type="text/css" href="css/jquery-ui.css" />
        <link rel="stylesheet" type="text/css" href="css/main.css" />
        <link rel="stylesheet" type="text/css" href="css/flexslider.css" />
        <style>
            .btn-block {
                color:#6c6c6c;
                font-size:14px;
            }
            input[type=text] {
                font-size:13px;
            }
            form {
                margin:0;
            }
            .collapse.in {
                height: auto;  /* this style already exists in bootstrap.css */
                overflow: visible;  /* this one doesn't. Add it! */
            }
        </style>
        <script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
        <script type="text/javascript" src="js/jquery-ui.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/chosen.jquery.js"></script>
        <script>
            $(document).ready(function() {
                $(".chzn-select").chosen();
                $(".datepicker").datepicker();
            })
        </script>
    </head>

    <body>
        <div class="wrapper970">
            <div class="section1over3">
                <img class="logo" src="img/logo.png" />
                <hr class="hrLogo" />
                <h3>Profile Complition :</h3>
                <div class="progress progress-striped active">
                    <div class="bar" style="width: 40%;"></div>
                </div>
                <button class="btn btn-large btn-block" type="button">Upload Your C.V.<span style="margin:2px 16px 0 0;" class="right badge badge-success">+ 20%</span></button>
                <button class="btn btn-large btn-block" type="button"> Add Work Experience<span style="margin:2px 16px 0 0;" class="right badge badge-success">+ 10%</span></button>
                <button class="btn btn-large btn-block" type="button"> Add Skills<span style="margin:2px 16px 0 0;" class="right badge badge-success">+ 20%</span></button>
                <button class="btn btn-large btn-block" type="button"> Add Education<span style="margin:2px 16px 0 0;" class="right badge badge-success">+ 15%</span></button>
                <button class="btn btn-large btn-block" type="button"> Add Certificates<span style="margin:2px 16px 0 0;" class="right badge badge-success">+ 10%</span></button>
                <button class="btn btn-large btn-block" type="button"> Add Profile Image<span style="margin:2px 16px 0 0;" class="right badge badge-success">+ 5%</span></button>
            </div>
            <div class="section2over3">
                <a href="#login" class="userCtr" data-toggle="modal"><i class="icon-user"></i>sign in</a>
                <a href="#register" class="userCtr" data-toggle="modal"><i class="icon-play"></i>register</a>
                <div class="clearfix"></div>
                <!--
      <ul class="mainMenu">
            <li><a href="javascript:void(0)">HOME</a></li>
        <li><a href="javascript:void(0)">ABOUT US</a></li>
        <li><a href="javascript:void(0)">JOBS</a></li>
        <li><a href="javascript:void(0)">PAPER ADS.</a></li>
        <li><a href="javascript:void(0)">JOIN TODAY</a></li>
        <li><a href="javascript:void(0)">CONTACT US</a></li>
      </ul>
                -->
                <div class="navbar">
                    <div class="navbar-inner">
                        <ul class="nav">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">ABOUT US</a></li>
                            <li><a href="jobs.html">JOBS</a></li>
                            <li><a href="resumes.html">RESUMES</a></li>
                            <li class="active"><a href="contact.html">CONTACT US</a></li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>

        </div>
        <div class="wrapper970">




            <div class="clear"></div>

            <div class="fullWidth lineR">
            </div>

            <div class="clear"></div>

            <div class="section1over3">
                <img class="logo" src="img/logoba.png" />
            </div>
            <div class="section2over3 footer">
                <div style="width: 31%; float: left; margin-right: 20px">
                    <h3>Career Builder :</h3>
                    <ul class="findCareer fotter1lst">
                        <li><a href="javascript:void(0)"><span>></span>About Us</a></li>
                        <li><a href="javascript:void(0)"><span>></span>Work at CareerBuilder</a></li>
                        <li><a href="javascript:void(0)"><span>></span>Affiliate Program</a></li>
                        <li><a href="javascript:void(0)"><span>></span>CareerBuilder API</a></li>
                    </ul>
                </div>
                <div style="width: 31%; float: left; margin-right: 20px">
                    <h3>Job Seeker :</h3>
                    <ul class="findCareer fotter1lst">
                        <li><a href="javascript:void(0)"><span>></span>Free Career Test</a></li>
                        <li><a href="javascript:void(0)"><span>></span>Salary Calculator</a></li>
                        <li><a href="javascript:void(0)"><span>></span>Skills Training</a></li>
                        <li><a href="javascript:void(0)"><span>></span>College Degrees</a></li>
                    </ul>
                </div>
                <div style="width: 31%; float: left">
                    <h3>Employers :</h3>
                    <ul class="findCareer fotter1lst">
                        <li><a href="javascript:void(0)"><span>></span>Search Resumes</a></li>
                        <li><a href="javascript:void(0)"><span>></span>Post Jobs</a></li>
                        <li><a href="javascript:void(0)"><span>></span>CareerBuilder Talent Network</a></li>
                        <li><a href="javascript:void(0)"><span>></span>Resource Center</a></li>
                    </ul>
                </div>
            </div>









        </div>





        <div id="register" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Register Now</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">Full Name</label>
                        <div class="controls">
                            <input type="text" id="inputEmail" placeholder="full name ...">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="control-group">
                            <label class="control-label" for="inputEmail">Email</label>
                            <div class="controls">
                                <input type="text" id="Text2" placeholder="email address ...">
                            </div>
                        </div>
                        <label class="control-label" for="inputEmail">User Name</label>
                        <div class="controls">
                            <input type="text" id="Text1" placeholder="user name ...">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPassword">Password</label>
                        <div class="controls">
                            <input type="password" id="inputPassword" placeholder="password ...">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPassword">Retype Password</label>
                        <div class="controls">
                            <input type="password" id="Password1" placeholder="retype password ...">
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn btn-primary">Register</button>
            </div>
        </div>
        <!----------------------------->
        <div id="login" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="H1">Sign In</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">User Name</label>
                        <div class="controls">
                            <input type="text" id="Text3" placeholder="user name ...">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPassword">Password</label>
                        <div class="controls">
                            <input type="password" id="Password2" placeholder="password ...">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label class="checkbox">
                                <input type="checkbox">
                                    Remember me
                            </label>
                        </div>
                    </div>
                </form>


            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn btn-primary">Sign In</button>
            </div>
        </div>

    </body>
</html>