<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>KARAS RECRUIT : HOME</title>
        <link rel="stylesheet" type="text/css" href="css/reset.css"/>
        <link rel="stylesheet" type="text/css" href="css/base.css"/>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css"/>
        <link rel="stylesheet" type="text/css" href="css/main.css"/>
        <link rel="stylesheet" type="text/css" href="css/flexslider.css"/>
        <script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/jquery.flexslider-min.js"></script>
        <script type="text/javascript" src="js/holder.js"></script>
        <script>
            $(document).ready(function() {
                $('.flexslider').flexslider({
                    animation: "slide"
                });
            });
        </script>
    </head>
    <body>

        <div class="wrapper970">
            <div class="footerCont1">
                <h3 class="marginBottomZero">Find Your Career :</h3>
                <ul class="findCareer">
                    <li><a href="javascript:void(0)">Accounting <span>></span></a></li>
                    <li><a href="javascript:void(0)">Admin& Clerical <span>></span></a></li>
                    <li><a href="javascript:void(0)">Automotive <span>></span></a></li>
                    <li><a href="javascript:void(0)">Contract& Freelance <span>></span></a></li>
                    <li><a href="javascript:void(0)">Banking& Finance <span>></span></a></li>
                    <li><a href="javascript:void(0)">Business Opportunity <span>></span></a></li>
                    <li><a href="javascript:void(0)">Customer Service <span>></span></a></li>
                    <li><a href="javascript:void(0)">Engineering <span>></span></a></li>
                    <li><a href="javascript:void(0)">Government <span>></span></a></li>
                    <li><a href="javascript:void(0)">Health Care <span>></span></a></li>
                    <li><a href="javascript:void(0)">Hospitality <span>></span></a></li>
                </ul>
            </div>
            <div class="footerCont1">
                <h3>Lates Jobs :</h3>
                <ul class="latestJobs">
                    <li>
                        <a class="allLnk" href="javascript:void(0)">
                            <em>></em><span>Safety& Reliability Group Manager</span>
                            <span class="lineTwo">Atkins</span>
                        </a>
                    </li>
                    <li><a class="allLnk" href="javascript:void(0)">
                            <em>></em><span>Product Supervisor (62-547)</span>
                            <span class="lineTwo">ZOLL</span></a>
                    </li>
                    <li><a class="allLnk" href="javascript:void(0)">
                            <em>></em><span>Advertising / Sales</span>
                            <span class="lineTwo">DFW AND ASSOCIATES</span></a>
                    </li>
                    <li><a class="allLnk" href="javascript:void(0)">
                            <em>></em><span>JOB FAIR COMING TO YOUR AREA</span>
                            <span class="lineTwo">Dollar Tree Stores</span></a>
                    </li>
                    <li><a class="allLnk" href="javascript:void(0)">
                            <em>></em><span>Quality Assurance Analyst (305547-763)</span>
                            <span class="lineTwo">UAFC</span></a>
                    </li>
                    <li><a class="allLnk" href="javascript:void(0)">
                            <em>></em><span>Center Manager</span>
                            <span class="lineTwo">Advance America</span></a>
                    </li>
                    <li><a class="allLnk" href="javascript:void(0)">
                            <em>></em><span>Part-Time Service Representative</span>
                            <span class="lineTwo">BMO Harris Bank</span></a>
                    </li>
                </ul>
            </div>
            <div class="footerCont1 marginRightZero">
                <h3 class="lastItem">&nbsp;</h3>
                <ul class="latestJobs">
                    <li>
                        <a class="allLnk" href="javascript:void(0)">
                            <em>></em><span>Safety& Reliability Group Manager</span>
                            <span class="lineTwo">Atkins</span>
                        </a>
                    </li>
                    <li><a class="allLnk" href="javascript:void(0)">
                            <em>></em><span>Product Supervisor (62-547)</span>
                            <span class="lineTwo">ZOLL</span></a>
                    </li>
                    <li><a class="allLnk" href="javascript:void(0)">
                            <em>></em><span>Advertising / Sales</span>
                            <span class="lineTwo">DFW AND ASSOCIATES</span></a>
                    </li>
                    <li><a class="allLnk" href="javascript:void(0)">
                            <em>></em><span>JOB FAIR COMING TO YOUR AREA</span>
                            <span class="lineTwo">Dollar Tree Stores</span></a>
                    </li>
                    <li><a class="allLnk" href="javascript:void(0)">
                            <em>></em><span>Quality Assurance Analyst (305547-763)</span>
                            <span class="lineTwo">UAFC</span></a>
                    </li>
                    <li><a class="allLnk" href="javascript:void(0)">
                            <em>></em><span>Center Manager</span>
                            <span class="lineTwo">Advance America</span></a>
                    </li>
                    <li><a class="allLnk" href="javascript:void(0)">
                            <em>></em><span>Part-Time Service Representative</span>
                            <span class="lineTwo">BMO Harris Bank</span></a>
                    </li>
                </ul>

            </div>
            <div class="clear">
            </div>
            <div class="fullWidth lineR">
            </div>
            <div class="clear">
            </div>
            <div class="section1over3">
                <img class="logo" src="img/logo.png"/>
            </div>
        </div>
        
            
        <!----------------------------->
        
    </body>
</html>